.layout_wrapper {
	background-color: whitesmoke;

	display: flex;
	flex-direction: column;

	min-height: 100vh;
	max-width: 100vw;
}

.header,
.footer {
	padding: 1rem;
}

.header {
	background-color: white;
}

.footer {
	background-color: black;
	text-align: center;
	color: white;
	margin-top: auto;
}

.main_content {
	background-color: tomato;
	flex: 1;
}

.loader {
	position: fixed;
	top: 0;
	left: 0;
	/* transform: translate(calc(50vw - 50%), calc(50vh - 50%)); */
	animation: rotation 2s infinite linear;
	translate: calc(50vw - 50%) calc(50vh - 50%);
}

/* .rotate {
	animation: rotation 2s infinite linear;
} */

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
